/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-top: 100px;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /* Vertically center the text there */
  .container {
    margin-top: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.card h2 {
  margin-bottom: 30px;
}

.card button {
  margin-top: 30px;
}

h1 {
  text-transform: uppercase;
  font-family: 'dusha';
}

h2 {
  color: $gray-600;
}

.text-cross {
  text-decoration: line-through;
}

.page-title {
  margin-bottom: 45px;

  div.col-action {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    a {
      margin-left: 15px;
    }
  }

}

.avatar {
  border-radius: 100%;
}

td {
  .avatar {
    margin-right: 15px;
  }
}

.no-padding {
  padding: 0 !important;
}

hr.lined.divided {
  margin-bottom: 45px;
}
