nav.navbar {
  background: #b4191e url('../assets/images/bg_art.svg') 0 0 repeat;
  border-bottom: 4px $yellow solid;

  a.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: $yellow;
    }

    span {
      margin-left: 8px;
      font-family: 'dusha';
      font-size: 1.8em;
    }
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: bold;
  }

  a.dropdown-item {
    cursor: pointer;
  }
}
